<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>Tarantula report</title>
	<script type="text/javascript" src="javascripts/jquery-1.2.3.js"></script>
	<script type="text/javascript" src="javascripts/jquery.tablesorter.js"></script>
	<script type="text/javascript" src="javascripts/tarantula.js"></script>
	<link type="text/css" media="screen" rel="stylesheet" href="relevance_os.css"/>
</head>

	<body id="top">
	
	<div id="page" class="column">
    <h1>Tarantula report</h1>
    <p>Generated on <%= Time.now %></p>
    <% %w{failures successes}.each do |result_type| %>
      <table class="tablesorter">
        <caption><%= result_type.capitalize %> (<%= send(result_type).size %>)</caption>
        <thead>
          <tr>
            <th>Action</th>
            <th>URL</th>
            <th>Response</th>
            <th>Description</th>
            <th>Referrer</th>
          </tr>
        </thead>
        <tbody>
          <% send(result_type).sort{|x,y| y.code.to_s <=> x.code.to_s}.each do |result| %>
          <tr>
            <td><%= result.method %></td>
            <td><a href="<%= result.file_name%>"><%= result.url.ellipsize(40) %></a></td>
            <td><%= result.code %></td>
            <td><%= result.description %></td>
            <td><%= result.referrer.ellipsize(20) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
	<div id="sidebar" class="column">
	<!-- sidebar -->
	<h2>Tarantula</h2>
	
	<p>Tarantula is an open-source tool for testing Rails web applications. Tarantula is developed by <a href="http://thinkrelevance.com">Relevance, Inc.</a> and lives at <a href="http://opensource.thinkrelevance.com">http://opensource.thinkrelevance.com</a>.</p>
	
	</div>
	
	<a href="http://opensource.thinkrelevance.com"><div id="footer">
	<!-- footer -->
	&nbsp;
	</div></a>
	
	</body>

</html>


